.container {
  border: 1px solid #d6d6d6;
  display: flex;
  // width: 50%;
  // text-align: center;
  margin: 0px auto;
  padding: 15px;
  // justify-content: space-between;
  justify-content: space-evenly;

  input, select {
    width: 200px;
    height: 32px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
  }


}

div.swap-btn {
  display: flex;
  justify-content: center;
  margin: 15px;

  button {
    width: 200px;
    height: 32px;
    cursor: pointer;
  }
}